<!DOCTYPE html>
<html>

    <head>
        <title>c#-research</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <script type='module' src="js/main.js"></script>
    </head>

    <body>
        <div id="main">
            <h1>WebAssembly with C#</h1>
            <textarea id="code" rows="10" cols="80">
using System;
public class Program {
    public static void Main() {
        for(int i = 0; i < 5; i++) {
            if(i < 4) {
                Console.WriteLine(i);
            } else {
                Console.WriteLine("😎");
            }
        }
    }
}
            </textarea>
            <button id="run">Run</button>
        </div>
    </body>

</html>